<div class="flex flex-col items-center">
    <span class="mt-8 text-emerald-700 font-bold text-2xl">Enter a deck name: </span>
    <input class="border-2 border-solid border-emerald-700 pl-2 mt-2" placeholder="Deck Name" [(ngModel)]="newDeckName">
    <button class="mt-2 rounded-full hover:bg-gradient-to-t hover:from-emerald-600 hover:to-emerald-700 border border-gray-300 px-4 py-2 bg-gradient-to-t from-emerald-700 to-emerald-800 text-white" mat-dialog-close (click)="save()">SAVE</button>
</div>