<mat-drawer-container hasBackdrop>
    <mat-drawer #drawer mode="over" position="end" class="bg-[url('./assets/vines.png')] bg-no-repeat">
        <div *ngIf="isPrivate && !passValid" class="bg-white-200">
            Loading...
        </div>
        <div *ngIf="currentCard && loaded" class="mt-2 p-2 flex flex-col items-center w-full">
            <div
                class="flex flex-col bg-slate-100 rounded-md p-2 w-full border-2 shadow-md border-solid border-emerald-500">
                <span class="font-bold text-lg text-emerald-700">{{currentCard.name}}</span>
                <span class="text-emerald-700 mt-2 mb-2">Element: {{currentCard.element}}</span>
            </div>
            <img [src]="getCardURL(currentCard.image)" class="mt-2 w-3/4 h-3/4 rounded-md shadow-xl">
            <div
                class="grid grid-cols-2 grid-rows-2 gap-2 mt-4 place-items-center bg-slate-100 rounded-md p-2 w-full border-2 shadow-md border-solid border-emerald-500">
                <span class="text-emerald-700">Memory Cost: {{currentCard.cost_memory ? currentCard.cost_memory :
                    0}}</span>
                <span class="text-emerald-700">Reserve Cost: {{currentCard.cost_reserve ? currentCard.cost_reserve :
                    0}}</span>
                <span class="text-emerald-700">Level: {{currentCard.level ? currentCard.level : 'None'}}</span>
                <span class="text-emerald-700">Life: {{currentCard.life ? currentCard.life : 'None'}}</span>
                <span class="text-emerald-700">Power: {{currentCard.power ? currentCard.power : 'None'}}</span>
                <span class="text-emerald-700">Speed: {{currentCard.speed === null ? 'None' : currentCard.speed ==
                    true ?
                    'Fast' : 'Slow'}}</span>
            </div>
            <div
                class="flex flex-col mt-2 bg-slate-100 rounded-md p-2 w-full border-2 shadow-md border-solid border-emerald-500">
                <span class="text-emerald-700">Effect:</span>
                <div class="text-emerald-700 p-2 border border-solid border-emerald-500"
                    [innerHtml]="currentCard.effect_raw">
                </div>
            </div>
            <div
                class="mt-2 flex flex-row bg-slate-100 rounded-md p-2 w-full justify-center border-2 shadow-md border-solid border-emerald-500">
                <span class="text-emerald-700 mr-2">Card Types: </span>
                <div *ngFor="let type of currentCard.types">
                    <span class="text-emerald-700" *ngIf="type">{{type}}&nbsp;&nbsp;</span>
                </div>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <div class="relative overflow-x-hidden overflow-y-hidden">
            <img class="max-h-screen min-h-screen w-full" src="../../../../assets/play-area.png">
            <div class="absolute top-0 left-0 mt-4 left-2">
                <button class="nav-button" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon class="text-ga-blue">menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="surrender()" mat-menu-item>
                        <mat-icon class="!text-red-500">flag</mat-icon>
                        <span class="text-red-500">Surrender</span>
                    </button>
                </mat-menu>
            </div>
            <app-main-deck class="absolute xl:bottom-[165px] right-[-76px] bottom-[185px]"></app-main-deck>
            <app-material-deck class="absolute xl:left-[230px] xl:bottom-[160px] left-[237px] bottom-[185px]"></app-material-deck>
            <app-hand (mouseenter)="hoverCards = true" (mouseleave)="hoverCards = false" [cards]="hand" (currentCard)="setCurrentCard($event)"
               [ngClass]="hoverCards ? 'bottom-0' : 'bottom-[-275px]'" class="left-[8%] fixed overflow-hidden flex flex-row w-[85%]"></app-hand>
        </div>
    </mat-drawer-content>
</mat-drawer-container>