.nav-button {
    width: 45px !important;
    height: 45px !important;

    .mat-icon {
        width: 42px !important;
        height: 42px !important;
        line-height: 24px !important;
    }

    .material-icons {
        font-size: 42px !important;
    }
}

.mat-drawer {
    width: 600px !important;
    position: fixed;
    top: 0;
    bottom: 0;
}

#console {
    background-color: rgba(44, 44, 44, 0.5);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #535353;
}

::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 100vh;
}