<div class="flex flex-col items-center h-full">
    <span class="mt-4 text-emerald-700 font-bold text-2xl">Paste deck list below (Omnidex Format)</span>
    <textarea class="mt-2 border-2 border-solid border-emerald-700 pl-2 mt-2 w-3/4 h-full" placeholder="Deck list.." [(ngModel)]="deckList" type="text"></textarea>
    <div class="mt-2 mb-2 flex flex-row">
        <button
            class="disabled:bg-gradient-to-t disabled:from-slate-500 disabled:to-slate-700 mt-2 rounded-full hover:bg-gradient-to-t hover:from-emerald-600 hover:to-emerald-700 border border-gray-300 px-4 py-2 bg-gradient-to-t from-emerald-700 to-emerald-800 text-white" mat-dialog-close (click)="save()">IMPORT</button>
        <button
            class="mt-2 ml-2 rounded-full hover:bg-gradient-to-t hover:from-red-600 hover:to-red-700 border border-gray-300 px-4 py-2 bg-gradient-to-t from-red-700 to-red-800 text-white"
            mat-dialog-close>CLOSE</button>
    </div>
</div>